@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-medium;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm py-2 w-full mb-2 shadow-sm px-1;
}
input:focus,
textarea:focus,
select:focus {
  @apply outline-none border-blue-900;
}
label {
  @apply text-sm text-gray-600 font-medium;
}
.btn-primary {
  @apply bg-primary text-white px-4 rounded-sm font-semibold shadow-sm;
}
.btn-danger {
  @apply bg-red-200 text-red-600 px-4 rounded-sm font-semibold shadow-sm;
}
table.basic {
  @apply w-full text-left bg-white shadow-md rounded-sm;
}
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200;
}
table.basic tbody tr td,
table.basic thead tr th {
  @apply px-4 py-1;
}
table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-sm;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-default {
  @apply bg-white text-gray-800 border border-gray-200 shadow-sm;
}
