@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm py-2 mt-1 w-full shadow-sm px-1;
}
input:focus,
textarea:focus,
select:focus {
  @apply outline-none border-blue-900;
}
input[type="radio"] {
  @apply mb-0;
}
label {
  @apply text-sm text-gray-600 font-medium;
}
.btn-danger {
  @apply cursor-pointer bg-red-200 text-red-600 px-4 rounded-sm font-semibold shadow-sm;
}
table.basic {
  @apply w-full text-left bg-white shadow-md rounded-sm;
}
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200;
}
table.basic tbody tr td,
table.basic thead tr th {
  @apply px-4 py-1;
}
table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-outline-dark,
.btn-red,
.btn-outline-red,
.btn-dark,
.btn-green,
.btn-outline-green,
.btn-primary,
.btn-outline-primary {
  @apply px-4 py-1 rounded-md border-2 shadow-sm cursor-pointer;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-outline-primary {
  @apply bg-white text-primary border-primary;
}
.btn-red {
  @apply bg-red-600 text-white;
}
.btn-outline-red {
  @apply bg-transparent text-red-600 border-red-600;
}
.btn-dark {
  @apply bg-gray-800 text-white;
}
.btn-outline-dark {
  @apply bg-transparent text-gray-800 border-gray-500;
}
.btn-green {
  @apply bg-teal-600 text-white;
}
.btn-outline-green {
  @apply bg-white text-teal-600 border-teal-600;
}
